/*
 * Hero
 *
 * 
*/


.frank-hero {

	// Settings
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 130px;
			left: 0;
			bottom: 0;
			z-index: -1;
			background-color: color($default);
			opacity: 0.95;
			@include breakpoint(medium only) {
				display: none;
			}
			@include breakpoint(large only) {
				display: none;
			}
		}


	// Background
		&__background {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: color($default);
			z-index: -1;

			// BG-1
				.bg-1 {
					display: none;
					@include breakpoint(xlarge) {
						display: block;	
						position: absolute;
						width: 50%;
						height: 100%;

						&:before {
							content: '';
							position: absolute;
							width: 100%;
							height: 100%;
							// Original Gradient
							background-image: linear-gradient(232deg, #334273 0%, #171F3F 100%);

							// New Suggested Gradient
							background-image: linear-gradient(232deg, #0e1d65 0%, #030921 100%);							
						}

						&:after {
							content: '';
							position: absolute;
							width: 100%;
							height: 100%;
							background-image: url('../../images/home-banner-parallax.jpg');
							background-size: 1404px;
							background-position: -10px -5px;
							background-repeat: no-repeat;
							opacity: 0.33;
						}

					}///large
				}///.bg-1
			
			// BG-2
				.bg-2 {
					position: absolute;
					height: 100%;
					width: 100%;
					background-repeat: no-repeat;
					background-size: 700px;
					background-position: -100px -120px;
					left: 0;
					right: 0;
					@include breakpoint(medium) {
						background-size: cover;
						background-position: center bottom;
					}
					@include breakpoint(xlarge) {
						width: 50%;
						right: 0;
						left: auto;
						background-size: 1200px 798px;
						background-position: -224px -236px;
					}

					&:before {
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						opacity: 0.7;
						background-image: linear-gradient(232deg, #334273 0%, #171F3F 100%);
						@include breakpoint(xlarge) {
							display: none;
						}
					}///:before
				}///.bg-2
		}///.frank-hero__background


	// Grid
		.frank-row {
			@include xy-grid;
			z-index: 0;
			margin: 0 15px;
			padding: 15px 0;
			@include breakpoint(medium) {
				margin: 0 30px;
				padding: 45px 0;
				padding-bottom: 15px;
			}
			@include breakpoint(large) {
				margin: 0 45px;
				justify-content: space-between;
			}
			@include breakpoint(xlarge) {
				@include xy-grid(vertical);
				max-width: 1110px;
				margin: 0 auto;
			}
			@include breakpoint(xxlarge) {
				max-width: 1200px;
				margin: 0 auto;
			}
			
		}///.frank-row


	// Cards
		
		// Card--0
			.card--0 {
				@include xy-cell(100%, true, 0rem);
				@include breakpoint(medium) {
					@include xy-cell(64%, true, 50px);
					margin-left: 0px;
				}
				@include breakpoint(large) {
					@include xy-cell(46%, true, 0rem);
				}
			}///.card--0

		// Card--1
			.card--1 {
				position: relative;
				background: color($inverse);
				padding: 30px;
				text-align: center;
				@include xy-cell(100%, true, 0rem);
				@include breakpoint(medium) {
					@include xy-cell(auto, true, 0px);
					align-self: center;
					padding: 30px 15px;
				}
				@include breakpoint(large) {
					@include xy-cell(shrink, true, 0rem);
					padding: 45px 45px;
					align-self: flex-end;
					margin-bottom: 45px;
				}
				@include breakpoint(xlarge) {
					@include xy-cell(46%, true, 0rem);
					align-self: stretch;
					margin-bottom: 45px;
				}

				// Top Line
					&:before {
						content: '';
						position: absolute;
						width: 100%;
						left: 0;
						top: 0;
						height: 5px;
						background-color: color($primary);
					}
			
			}///.card--1


	// Typography
		
		// Card--0
			.card--0 {
				
				// Header
					h1 {
						font-size: 28px;
						font-weight: 600;
						color: color($inverse);
						text-align: center;
						line-height: 34px;
						margin-bottom: 2rem;
						@include breakpoint(medium) {
							font-size: 40px;
							font-weight: 600;
							text-align: left;
							line-height: 48px;
						}
						@include breakpoint(xlarge) {
							font-size: 48px;
							line-height: 58px;
							width: 492px;
						}
					}///h1	

				// Subhead
					h4 {
						font-size: 16px;
						font-weight: 600;
						text-align: center;
						color: color($inverse);
						margin: 0 30px;
						padding: 12px 20px;
						margin-bottom: 1rem;
						background-image: linear-gradient(45deg, rgba(#354E82, 0.5) 0%, rgba(#334990, 0.5) 50%);
						box-shadow: -2px 2px 6px 0 rgba(0, 0, 0, 0.15);
						@include breakpoint(medium) {
							display: inline-block;
							font-size: 18px;
							line-height: 22px;
							text-align: left;
							padding: 10px 9px;
							margin: 0;
							margin-bottom: 30px;
						}
						@include breakpoint(xlarge) {
							font-size: 20px;
						}
					}///h4
			
			}///.card--0

		// Card--1
			.card--1 {

				// Subhead
					h4 {
						@include breakpoint(small only) {
							width: 80%;
							margin-left: auto;
							margin-right: auto;
						}
						margin-bottom: 30px;
						color: color($default);
						font-size: 16px;
						font-weight: 600;
						text-align: center;
						@include breakpoint(medium) {
							margin: 0px 15px;
							margin-bottom: 30px;
						}
						@include breakpoint(large) {
							font-size: 20px;
							max-width: 311px;
							margin-left: auto;
							margin-right: auto;
						}
					}///h4

			}///.card--1
	

	// Symbols
		.symbol-grid {
			@include xy-grid;
			justify-content: center;
			margin-bottom: 15px;
			@include breakpoint(medium) {
				justify-content: flex-start;
				margin-bottom: 30px;
			}
			
			.symbol {
				@include xy-cell(shrink, true, 2rem);
				@include breakpoint(medium) {
					&:first-child {
						margin-left: 0;
					}
				}
				.symbol-img {
					height: 56px;
					width: auto;
					@include breakpoint(medium) {
						height: 60px;
					}
					@include breakpoint(large) {
						height: 75px;
					}
				}
			}///.symbol
		}///.symbol-grid

}