/*
 * Treatment
 *
 * 
*/


.frank-treatment {
 	
 	// Settings
 		background: color($default);
 		padding: 30px 0px;
 		position: relative;
 		@include breakpoint(medium) {
 			padding-top: 45px;
 		}
 		@include breakpoint(xlarge) {
 			padding: 30px 0px;
 			padding-top: 15px;	
 		}
 		

 		&:before {
 			@include breakpoint(large) {
	 			content: '';
	 			position: absolute;
	 			left: 0;
	 			bottom: 0;
	 			width: 100%;
	 			height: 90px;
	 			background-color: color($inverse, 200);
	 			z-index: 0;
 			}///large
 		}///:before


	// Intro
		.frank-intro {
			h1 {
				color: color($inverse);
				font-size: 20px;
				font-weight: 600;
				line-height: 24px;
				text-align: center;
				width: 331px;
				margin: 0 auto;
				margin-bottom: 45px;
				@include breakpoint(medium) {
					font-size: 30px;
					width: auto;
				}
				@include breakpoint(large) {
					font-size: 36px;
				}
				@include breakpoint(xlarge) {
					font-size: 40px;
					margin-bottom: 60px;
				}
			}
		}///.frank-intro


	// Grid
		.frank-row {
			@include xy-grid;
			@include breakpoint(medium) {
				max-width: 708px;
				margin: 0 auto;
			}
			@include breakpoint(large) {
				max-width: 880px;
				box-shadow: -2px 2px 6px 0 rgba(0,0,0,0.15);
				position: relative;
			}
			@include breakpoint(xlarge) {
				max-width: 1110px;			
			}
			@include breakpoint(xxlarge) {
				max-width: 1200px;
			}
			
			
		}


	// Cards
		.card {
			background: color($inverse);
			text-align: center;
			padding: 30px 30px;
			z-index: 0;
			@include xy-cell(100%, true, 30px);
			@include breakpoint(medium) {
				text-align: left;
				@include xy-cell(100%, true, 0rem);
			}
			@include breakpoint(large) {
				@include xy-cell(50%, true, 0rem);
			}
			@include breakpoint(xlarge) {
				padding: 60px 45px;			
			}
			
		}///.card

		.card--0 {
			margin-bottom: 15px;
			@include breakpoint(medium) {
				margin-bottom: 30px;
			}
			@include breakpoint(large) {
				margin-bottom: 0;
			}
		}///.card--0


	// Typography

		.card h2 {
			font-size: 20px;
			font-weight: 600;
			color: color($default);
			margin-bottom: 0;
			@include breakpoint(medium) {
				font-size: 30px;
				text-align: center;
			}
			@include breakpoint(large) {
				text-align: left;
			}
			@include breakpoint(xlarge) {
				font-size: 34px;			
			}
			
		
			&:after {
				content: '';
				display: block;
				width: 150px;
				margin: 15px auto;
				height: 5px;
				background-color: color($primary);
				@include breakpoint(medium) {
					margin: 30px auto;
				}
				@include breakpoint(large) {
					margin: 15px auto;
					margin-left: 0;
				}
			}
		}///h2


	// ul
		ul {
			list-style: none;
			margin: 0 auto;
			@include breakpoint(medium) {
				columns: 2;
				column-gap: 70px;
				max-width: 420px;
				margin: 0 auto;
				margin-left: 136px;
			}
			@include breakpoint(large) {
				columns: 2;
				column-gap: 32px;
				max-width: none;
				margin: 0 auto;
			}
			li {
				font-size: 18px;
				font-weight: 600;
				color: color($default);
				line-height: 30px;
			}
		}

}