/*
 * Buttons
 *
*/

.frank-sections {


	// Button
		a.button,
		span.button {
			font-size: 24px;
			font-weight: 700;
			padding: 15px 30px;
			margin: 0;
			background: color($primary);
			white-space: initial !important;
			@include breakpoint(large) {
				font-size: 30px;
				padding: 21px 40px;
			}


			&.button--insurance {
				font-size: 30px;
				padding: 20px 45px;
			}


		}///a.button





}
